/*--------------------- Base Template Styles */

.sidenav li h4 {
    margin-left: 10px;
}

html {
    background: url("../images/bookshelf.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

body {
    height: 100%;
}

main {
    background-color: rgba(245, 245, 245, 0.2);
    min-height: calc(100vh - 64px);
    position: absolute;
    left: 0;
    right: 0;
    top: 64px;
    overflow: hidden;
}

.flashes h4 {
    line-height: 2;
}

a {
    text-decoration: none;
    color: black;
}

.top-margin {
    margin-top: 30px;
}

/*--------------------- Home Page Styles */

.search-btn {
    margin: 10px;
}


/*--------------------- Add Review Styles */

#book-names {
    display: none;
}

/*--------------------- Book Page Styles */

.collection .collection-item {
    padding: 0;
}

.review-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*--------------------- Media Queries */

@media screen and (min-width: 992px) {
    .brand-logo {
        margin-left: 20px;
    }
}