{% extends "base.html" %}
{% block content %}
    <div class="row top-margin">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_book') }}">
            <div class="card-panel">
                <!-- Book Name -->
                <div class="row">
                    <div class="input-field col s12 m10 offset-m1">
                        <i class="fas fa-signature prefix teal-text text-darken-3"></i>
                        <input id="book_name" name="book_name" type="text" class="validate" required>
                        <label for="book_name">Book Name</label>
                    </div>
                </div>
                <!-- Author -->
                <div class="row">
                    <div class="input-field col s12 m10 offset-m1">
                        <i class="fas fa-user prefix teal-text text-darken-3"></i>
                        <input id="author" name="author" type="text" class="validate" required>
                        <label for="author">Author</label>
                    </div>
                </div>
                <!-- Autofill Fields Button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="button" class="teal darken-3 btn-large" id="autofill-fields"> <i class="fas fa-fill left"></i> Autofill from Name and Author</button>
                        <p class="red-text text-darken-4" id="autofill-warning"></p>
                    </div>
                </div>
                <!-- ISBN input -->
                <div class="row">
                    <div class="input-field col s12 m10 offset-m1">
                        <i class="fas fa-barcode prefix teal-text text-darken-3"></i>
                        <input id="ISBN" name="ISBN" type="number" class="validate" required>
                        <label for="ISBN">ISBN10</label>
                    </div>
                </div>
                <!-- Autofill Fields Button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="button" class="teal darken-3 btn-large" id="autofill-ISBN"> <i class="fas fa-fill left"></i> Autofill from ISBN</button>
                        <p class="red-text text-darken-4" id="autofill-ISBN-warning"></p>
                    </div>
                </div>
                <!-- Cover Image URL -->
                <div class="row">
                    <div class="input-field col s12 m10 offset-m1">
                        <i class="fas fa-image prefix teal-text text-darken-3"></i>
                        <input id="img_url" name="img_url" type="text" class="validate" required>
                        <label for="img_url">Cover Image URL</label>
                    </div>
                </div>
                <!-- Purchase Link -->
                <div class="row">
                    <div class="input-field col s12 m10 offset-m1">
                        <i class="fas fa-shopping-cart prefix teal-text text-darken-3"></i>
                        <input id="purchase_link" name="purchase_link" type="text" class="validate" required>
                        <label for="purchase_link">Purchase Link</label>
                    </div>
                </div>
                <!-- Book Description -->
                <div class="row">
                    <div class="input-field col s12 m10 offset-m1">
                        <i class="fas fa-file-alt prefix teal-text text-darken-3"></i>
                        <textarea id="description" name="description" class="materialize-textarea validate" required></textarea>
                        <label for="description">Book Description</label>
                    </div>
                </div>                    
                <!-- Submit Button -->
                <div class="row">
                    <div class="col s6 center-align">
                        <a href="{{ url_for('add_review') }}" class="btn-large red darken-4">
                            Cancel <i class="fas fa-times-circle right"></i>
                        </a>
                    </div>
                    <div class="col s6 center-align">
                        <button type="submit" class="btn-large teal darken-3">
                            Add Book <i class="fas fa-plus right"></i>
                        </button>
                    </div>
                    
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/autofill-fields.js') }}"></script>
{% endblock %}