{% extends "base.html" %}
{% block content %}

    <!-- book info card -->
    <div class="row top-margin">
        <div class="col s12">
            <div class="card-panel hoverable center-align">
                <div class="row">
                    <!-- book title -->
                    <div class="col s12">
                        <h1 class="center-align">{{ book.book_name }}</h1>
                    </div>
                    <!-- book average score -->
                    <div class="star-score col s12">
                        {% for i in range(book.average_score) %}
                            <i class="fas fa-star amber-text big-star"></i>
                        {% endfor %}
                    </div>
                    <!-- book image -->
                    <div class="col s12 m4">
                        <img src="{{ book.img_url }}" alt="Cover of {{ book.book_name }}" class="responsive-img">
                    </div>
                    <!-- author and about book text -->
                    <div class="col s12 m8">
                        <h4>By {{ book.author }}</h4>
                        <p>{{ book.description }}</p>
                    </div>
                </div>

                {% if book.added_by == session.user or session.user == "admin" %}
                    <!-- edit book button -->
                    <div class="row top-margin center-align">
                        <div class="col s12 m6">
                            <a href="{{ url_for('edit_book', book_id=book._id ) }}" class="btn-large teal darken-3 white-text">
                                <i class="fas fa-edit left"></i> Edit Book Details
                            </a>
                        </div>
                        <!-- delete book button -->
                        <div class="col s12 m6">
                            <a href="{{ url_for('delete_book', book_id=book._id ) }}" class="btn-large red darken-4 white-text">
                                <i class="fas fa-trash-alt left"></i> Delete Book
                            </a>
                        </div>
                    </div>
                {% endif %}

                <!-- reviews title -->
                <hr class="teal darken-3">
                <h2 class="center-align">Reviews</h2>

                <!-- reviews collapsible -->
                <ul class="collection">
                    {% if book.reviews != [] %}
                        {% for review in book.reviews %}
                            <li class="collection-item">
                                <div class="teal white-text darken-3 center-align review-header row">
                                    <div class="star-score col s12 m6">
                                        {% for i in range(review.score) %}
                                            <i class="fas fa-star amber-text"></i>
                                        {% endfor %}
                                    </div>
                                    <div class="col s12 m6">
                                        By {{ review.review_author }}
                                    </div>

                                </div>
                                <div class="review-main row">
                                    <div class="col s12">
                                        <p>{{ review.review_text }}</p>
                                    </div>
                                    {% if review.review_author == session.user %}
                                        <div class="col s12 m6 center-align">
                                            <a href="{{ url_for('delete_review', book_id=book._id) }}" class="btn-small red darken-4">
                                                <i class="fas fa-trash-alt left"></i> Delete
                                            </a>
                                        </div>
                                        <div class="col s12 m6 center-align">
                                            <a href="{{ url_for('edit_review', book_id=book._id) }}" class="btn-small teal darken-3">
                                                <i class="fas fa-edit left"></i> Edit
                                            </a>
                                        </div>
                                    {% endif %}

                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                            <li class="collection-item">
                                <h5 class="center-align">No reviews yet!</h5>
                            </li>
                    {% endif %}
                </ul>

                <!-- add review button -->
                <div class="row top-margin center-align">
                    <div class="col s12">
                        <a href="{{ url_for('add_review', book_name=book.book_name ) }}" class="btn-large teal darken-3 white-text">
                            <i class="fas fa-plus left"></i> Add Review
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}