{% extends "base.html" %}
{% block content %}

    <!-- add review button -->
    <div class="row top-margin center-align">
        <div class="col s12">
            <a href="{{ url_for('add_review' ) }}" class="btn-large white teal-text text-darken-3">
                <i class="fas fa-plus left"></i> Add Review
            </a>
        </div>
    </div>

    <!-- search bar -->
    <div class="row top-margin">
        <div class="col s12 m10 offset-m1">
            <div class="row card-panel hoverable">
                <form action="{{ url_for('search') }}" method="POST" class="col s12">
                    <div class="row center-align valign-wrapper">
                        <div class="input-field col s8">
                            <i class="fas fa-search prefix teal-text text-darken-3"></i>
                            <input type="text" name="query" id="query" class="validate" minlength="3" required>
                            <label for="query">Search Books</label>
                        </div>
                        <div class="col s4">
                            <a href="{{ url_for('index') }}" class="red btn text-center search-btn">
                                <i class="fas fa-redo-alt"></i><span class="hide-on-med-and-down"> Reset</span>
                            </a>
                            <button type="submit" class="btn teal darken-3 text-center search-btn">
                                <i class="fas fa-search"></i><span class="hide-on-med-and-down"> Search</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    {% if books|length > 0 %}
        {% for book in books %}
            <div class="row">
                <div class="col s12 m10 offset-m1">
                    <a href="{{ url_for('book_page', book_id=book._id) }}">
                        <div class="row card-panel hoverable">
                            <!-- book image -->
                            <div class="col s12 m4 center-align">
                                <img src="{{ book.img_url }}" alt="Cover of {{ book.book_name }}">
                            </div>
                            <div class="col s12 m8 center-align">
                                <!-- book name and author -->
                                <h3>{{ book.book_name }}</h3>
                                <p>By {{ book.author }}</p>
                                <!-- book average score -->
                                <div class="star-score">
                                    {% for i in range(book.average_score) %}
                                        <i class="fas fa-star amber-text"></i>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="row card-panel hoverable">
                    <h3 class="center-align">No Books Found!</h3>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}