{% extends "base.html" %}
{% block content %}
    <!-- the structure of this signup form is based on the form used in the task manager mini project -->
    <div class="row top-margin">
        <form class="col s12 m8 offset-m2" onsubmit="return signupValidate()" method="POST" action="{{ url_for('signup') }}">
            <div class="card-panel">
                <!-- username -->
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <i class="fas fa-user-plus prefix teal-text text-darken-3"></i>
                        <input id="username" name="username" type="text" minlength="5" 
                            maxlength="15" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- email address -->
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <i class="fas fa-envelope prefix teal-text text-darken-3"></i>
                        <input id="email" name="email" type="email" class="validate" required>
                        <label for="email">Email Address</label>
                    </div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <i class="fas fa-user-lock prefix teal-text text-darken-3"></i>
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- confirm password -->
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <i class="fas fa-user-lock prefix teal-text text-darken-3"></i>
                        <input id="confirm-password" name="confirm-password" type="password" class="validate" required>
                        <label for="confirm-password">Confirm Password</label>
                        <span class="helper-text" data-error="Passwords do not match" data-success="Passwords match"></span>
                    </div>
                </div>
                <!-- sign up button -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large teal darken-3">
                        Sign Up <i class="fas fa-user-plus"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- redirect button to login page -->
    <div class="row top-margin">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel row center-align">
                <h5 class="col s12">Already got an account? Login here:</h5>
                <a href="{{ url_for('login') }}" class="btn-large teal darken-3 top-margin">
                    Login <i class="fas fa-sign-in-alt right"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/signup-validation.js') }}"></script>
{% endblock %}